<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel='stylesheet' src=''>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" />
  <link rel="icon" href='../static/img/favicon-yandex.png' type="image/x-icon" />
  <title>Яндекс капсула</title>
</head>

<body>
  <header class="head">
    <div class="container">
      <div class="head__wrap">
        <div class="logo">
          <img src="../static/img/svg/Logo.svg" class="logo__img">
        </div>
        <!-- /.logo -->
        <nav class="navigation">
          <ul class="navigation__list" id="q">
            <li class="navigation__item">
              <a class="navigation__link" href="#block-3">Что внутри</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#block-4">Как это работает</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#block-5">Где найти</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#block-6">Стоимость</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#block-7">Отзывы</a>
            </li>
            <!-- /.navigation__item -->
            <li class="navigation__item">
              <a class="navigation__link" href="#block-8">Вопросы</a>
            </li>
            <!-- /.navigation__item -->
          </ul>
          <!-- /.navigation__list -->
        </nav>
        <!-- /.navigation -->
        <div class="btn-wrap">
          <button class="btn btn-create">Забронировать &#8250</button>
          <!-- /.btn-create -->
          <div class="menu__btn" id='js-menu-trigger'>
            <span class="menu__btn--line first"></span>
            <span class="menu__btn--line second"></span>
            <span class="menu__btn--line second-ex"></span>
            <span class="menu__btn--line third"></span>
          </div>
          <!-- /.menu__btn -->
        </div>
        <!-- /.btn-wrap -->

      </div>
      <!-- /.head__wrap -->
    </div>
    <!-- /.container -->
  </header>
  <main>
    <section class="block-1" id="block-1">
      <div class="block-1__img">
        <img class="block-1__img-foto" src="../static/img/main-bg-foto.jpg" alt="main background foto">
      </div>
      <!-- /.block-1__foto -->
      <div class="block-1__wrap">
        <h1 class="block-1__title">Капсула для сна на пару часов</h1>
        <!-- /.block-1__ittle -->
        <p class="block-1__subtitle">Восстановите силы в комфортном пространстве и станьте продуктивнее.</p>
        <!-- /.block-1__subtitle -->
      </div>
      <!-- /.block-1__wrap -->
    </section>
    <!-- /.block1 -->
    <section class="block-2" id="block-2">
      <div class="container">
        <div class="block-2__wrap">
          <h2 class="block-2__title">Капсула — место тишины и покоя</h2>
          <!-- /.block-2__title -->
          <div class="block-2__img">
            <img class="block-2__img-foto" src="../static/img/capsule_plan.jpg" alt="main background foto">
          </div>
          <!-- /.block-2__foto -->
          <ul class="list">
            <p class="list__title">Капсула будет полезна тем, кто:</p>
            <!-- /.block-2__subtitle -->
            <li class="list__item">плохо себя чувствует и работает менее эффективно из-за постоянного недосыпа;</li>
            <!-- /.list__item -->
            <li class="list__item">любит спать днём по 90 минут, но не может тратить время на поездку домой;</li>
            <!-- /.list__item -->
            <li class="list__item">хочет сосредоточиться на рабочих задачах и отдохнуть от суеты опенспейсов.</li>
            <!-- /.list__item -->
            <button class="btn block-2__btn">Забронировать &#8250</button>
            <!-- /.block-2__btn -->
          </ul>
          <!-- /.list -->

        </div>
        <!-- /.block-2__wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.block-2 -->
    <section class="block-3" id="block-3">
      <div class="container">
        <div class="block-3__wrap">
          <h2 class="block-3__title">Внутри</h2>
          <!-- /.block-3__ittle -->
          <p class="block-3__subtitle">В наших капсулах есть всё <br>
            необходимое <br>
            для комhфортного отдыха.</p>
          <!-- /.block-3__subtitle -->
          <ul class="list-2">
            <li class="list-2__item">Ортопедический
              матрас</li>
            <!-- /.list__item -->
            <li class="list-2__item">Постельное бельё</li>
            <!-- /.list__item -->
            <li class="list-2__item">Wi-Fi</li>
            <!-- /.list__item -->
            <li class="list-2__item">Подушка с эффектом памяти</li>
            <!-- /.list__item -->
            <li class="list-2__item">Подушка с эффектом памяти</li>
            <!-- /.list__item -->
            <li class="list-2__item">Тёплый плед</li>
            <!-- /.list__item -->
          </ul>
          <!-- /.list-2 -->
        </div>
        <!-- /.block-3__wrap -->
        <div class="block-3__wrap2">
          <span class="block-3__textbig">И ещё...</span>
          <!-- /.block-3__text--big -->
          <div class="info">
            <p class="info__text--blue">Капсула предназначена не только для спокойного сна, но и для наслаждения
              тишиной.</p>
            <!-- /.info__text--blue -->
            <p class="info__text--blue">В ней вы можете отвлечься от ежедневной суеты города, помедитировать,
              подготовиться к важной встрече или презентации.</p>
            <!-- /.info__text--blue -->
            <p class="info__text">В капсуле есть розетки для зарядки гаджетов, освещение, при котором можно читать, сейф
              для ценных вещей и камера хранения для крупных предметов.</p>
            <!-- /.info__text--blue -->
            <p class="info__text">Кроме того, вы сможете аккуратно повесить одежду на вешалку и привести себя в порядок
              у зеркала.</p>
            <!-- /.info__text--blue -->
          </div>
          <!-- /.info -->
        </div>
        <!-- /.block-3__wrap2 -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.block-3 -->
    <section class="block-4" id="block-4">
      <div class="container">
        <div class="block-4__wrap">

          <div class="bl-head">
            <h2 class="bl-head__title">Как это <br> работает?</h2>
            <!-- /.bl-head__text--big -->
            <p class="bl-head__subtitle">В наших капсулах есть всё необходимое для комфортного отдыха.</p>
            <!-- /.bl-head__subtitle -->
            <button class="btn bl-head__btn">Забронировать &#8250</button>
            <!-- /.bl-head__btn -->
          </div>
          <!-- /.bl-head -->
          <div class="items">
            <div class="item">
              <div class="item__icon">1</div>
              <!-- /.item__icon -->
              <h3 class="item__title">Бронируете капсулу</h3>
              <!-- /.item__title -->
              <p class="item__description">Выбираете время, дату и адрес,
                по которому вам удобнее всего будет прийти.</p>
              <!-- /.item__subtitle -->
            </div>
            <!-- /.item -->
            <div class="item">
              <div class="item__icon">2</div>
              <!-- /.item__icon -->
              <h3 class="item__title">Приходите</h3>
              <!-- /.item__title -->
              <p class="item__description">По указанному адресу вас встречает администратор.</p>
              <!-- /.item__subtitle -->
            </div>
            <!-- /.item -->
            <div class="item">
              <div class="item__icon">3</div>
              <!-- /.item__icon -->
              <h3 class="item__title">Администратор выдаёт ключ</h3>
              <!-- /.item__title -->
              <p class="item__description">А вы — оплачиваете аренду.</p>
              <!-- /.item__subtitle -->
            </div>
            <!-- /.item -->
            <div class="item">
              <div class="item__icon">4</div>
              <!-- /.item__icon -->
              <h3 class="item__title">Наслаждаетесь отдыхом</h3>
              <!-- /.item__title -->
              <p class="item__description">И набираетесь сил.</p>
              <!-- /.item__subtitle -->
            </div>
            <!-- /.item -->
            <div class="item--end">
              <div class="item__icon">5</div>
              <!-- /.item__icon -->
              <h3 class="item__title">Отдохнув, отдаёте ключ</h3>
              <!-- /.item__title -->
              <p class="item__description">И с новыми силами продолжаете заниматься делами!</p>
              <!-- /.item__subtitle -->
            </div>
            <!-- /.item -->
          </div>
          <!-- /.items -->
        </div>
        <!-- /.block-4__wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.block-4 -->
    <section class="block-5" id="block-5">
      <div class=" container">
        <div class="block-5__wrap">
          <div class='map' id='map'></div>
        </div>
        <!-- /.block-5__wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.block-5 -->
    <section class="block-6" id="block-6">
      <div class="container">
        <div class="block-6__wrap">
          <h2 class="block-6__title">Стоимость</h2>
          <!-- /.block-6__title -->
          <div class="info2">
            <p class="info2__subtitle">1 часа отдыха в капсуле:</p>
            <!-- /.info2__subtitle -->
            <p class="info2__num">400 ₽</p>
            <!-- /.info2__num -->
            <button class="btn info2__btn">Забронировать &#8250</button>
            <!-- /.info2__btn -->
            <p class="info2__description">Общая стоимость зависит от того, сколько времени вы забронировали. </p>
            <!-- /.info2__description -->
          </div>
          <!-- /.info -->
        </div>
        <!-- /.block-6__wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.block-6 -->
    <section class="block-7" id="block-7">
      <div class="container">
        <div class="block-7__wrap">
          <div class="slider variable-width">
            <div class="slider__item">
              <div class="slider__itemWr">
                <img class='slider__foto' src='../static/img/slide/1.jpg'>
                <!-- /.card__icon -->
                <div class="slider__info">
                  <p class="slider__name">Света Началова</p>
                  <!-- /.slider__name -->
                  <p class="slider__date">20 января • ст. м. «Улица 1905 года»</p>
                  <!-- /.slider__date -->
                  <p class="slider__comment">Как же здорово я отдохнула! Спасибо «Капсуле»! У меня совсем не было сил, а
                    теперь я чувствую себя прекрасно и могу дальше работать. Ортопедический матрас — космос! Мои спина и
                    шея
                    в восторге ;)</p>
                  <!-- /.slider__comment -->
                </div>
                <!-- /.slider__info -->
              </div>
              <!-- /.slider__itemWr -->
            </div>
            <!-- /.slider__item -->
            <div class="slider__item">
              <div class="slider__itemWr">
                <img class='slider__foto' src='../static/img/slide/2.jpg'>
                <!-- /.card__icon -->
                <div class="slider__info">
                  <p class="slider__name">Николай Сергеев</p>
                  <!-- /.slider__name -->
                  <p class="slider__date">17 января • ст. м. «Павелецкая»</p>
                  <!-- /.slider__date -->
                  <p class="slider__comment">Я доволен. Забронировал «Капсулу» за минуту — всё чётко и понятно. И место
                    удобное: близко к метро, минут пять пешком от «Арбатской». Рекомендую!</p>
                  <!-- /.slider__comment -->
                </div>
                <!-- /.slider__info -->
              </div>
              <!-- /.slider__itemWr -->
            </div>
            <!-- /.slider__item -->
            <div class="slider__item">
              <div class="slider__itemWr">
                <img class='slider__foto' src='../static/img/slide/3.jpg'>
                <!-- /.card__icon -->
                <div class="slider__info">
                  <p class="slider__name">Василиса Иванова</p>
                  <!-- /.slider__name -->
                  <p class="slider__date">11 августа • Капсула на М. Парк Культуры</p>
                  <!-- /.slider__date -->
                  <p class="slider__comment">Все продумано до мелочей. Пара часов сна, как дома, и снова полна сил! Все
                    то
                    что действительно нужно.</p>
                  <!-- /.slider__comment -->
                </div>
                <!-- /.slider__info -->
              </div>
              <!-- /.slider__itemWr -->
            </div>
            <!-- /.slider__item -->
            <div class="slider__item">
              <div class="slider__itemWr">
                <img class='slider__foto' src='../static/img/slide/4.jpg'>
                <!-- /.card__icon -->
                <div class="slider__info">
                  <p class="slider__name">Beverly-K</p>
                  <!-- /.slider__name -->
                  <p class="slider__date">11 августа • Капсула на М. Парк Культуры</p>
                  <!-- /.slider__date -->
                  <p class="slider__comment">Все продумано до мелочей. Пара часов сна, как дома, и снова полна сил! Все
                    то
                    что действительно нужно.</p>
                  <!-- /.slider__comment -->
                </div>
                <!-- /.slider__info -->
              </div>
              <!-- /.slider__itemWr -->
            </div>
            <!-- /.slider__item -->
            <div class="slider__item">
              <div class="slider__itemWr">
                <img class='slider__foto' src='../static/img/slide/5.jpg'>
                <!-- /.card__icon -->
                <div class="slider__info">
                  <p class="slider__name">Eric Anderson</p>
                  <!-- /.slider__name -->
                  <p class="slider__date">17 января • ст. м. «Павелецкая»</p>
                  <!-- /.slider__date -->
                  <p class="slider__comment">Я доволен. Забронировал «Капсулу» за минуту — всё чётко и понятно. И место
                    удобное: близко к метро, минут пять пешком от «Арбатской». Рекомендую!</p>
                  <!-- /.slider__comment -->
                </div>
                <!-- /.slider__info -->
              </div>
              <!-- /.slider__itemWr -->
            </div>
            <!-- /.slider__item -->
          </div>
          <!-- /.slider -->
        </div>
        <!-- /.block-7__wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.block-7 -->
    <section class="block-8" id="block-8">
      <div class="container">
        <div class="block-8__wrap">
          <h2 class="block-8__title">Важные
            вопросы</h2>
          <!-- /.accordion__title -->
          <div class="block-8__body">
            <div class="accordion js-accordion">
              <div class="accordion__question">
                <p class="accordion__question--text"> Сколько стоит аренда? Как оплатить?</p>
                <!-- /.accordion__question--text -->
              </div>
              <!-- /.accordion__question -->
              <div class="accordion__answer">
                <p class="accordion__answer--text">400 руб / час</p>
                <!-- /.accordion__body -->
              </div>
              <!-- /.accordion__answer -->
            </div>
            <!-- /.accordion -->
            <div class="accordion js-accordion">
              <div class="accordion__question">
                <p class="accordion__question--text"> Каково максимальное и минимальное время бронирования?</p>
                <!-- /.accordion__question--text -->
              </div>
              <!-- /.accordion__question -->
              <div class="accordion__answer">
                <p class="accordion__answer--text">1 час</p>
                <!-- /.accordion__body -->
              </div>
              <!-- /.accordion__answer -->
            </div>
            <!-- /.accordion -->
            <div class="accordion js-accordion">
              <div class="accordion__question">
                <p class="accordion__question--text"> Можно ли продлить аренду или уйти раньше?</p>
                <!-- /.accordion__question--text -->
              </div>
              <!-- /.accordion__question -->
              <div class="accordion__answer">
                <p class="accordion__answer--text">Можно продлить сами вы не уйдете</p>
                <!-- /.accordion__body -->
              </div>
              <!-- /.accordion__answer -->
            </div>
            <!-- /.accordion -->
            <div class="accordion js-accordion">
              <div class="accordion__question">
                <p class="accordion__question--text"> Можно ли отменить бронь?</p>
                <!-- /.accordion__question--text -->
              </div>
              <!-- /.accordion__question -->
              <div class="accordion__answer">
                <p class="accordion__answer--text">Нет</p>
                <!-- /.accordion__body -->
              </div>
              <!-- /.accordion__answer -->
            </div>
            <!-- /.accordion -->
            <div class="accordion js-accordion">
              <div class="accordion__question">
                <p class="accordion__question--text">Есть ли скидки?</p>
                <!-- /.accordion__question--text -->
              </div>
              <!-- /.accordion__question -->
              <div class="accordion__answer">
                <p class="accordion__answer--text">Ниже некуда</p>
                <!-- /.accordion__body -->
              </div>
              <!-- /.accordion__answer -->
            </div>
            <!-- /.accordion -->
            <div class="accordion js-accordion">
              <div class="accordion__question">
                <p class="accordion__question--text">Как вы заботитесь о чистоте?</p>
                <!-- /.accordion__question--text -->
              </div>
              <!-- /.accordion__question -->
              <div class="accordion__answer">
                <p class="accordion__answer--text">Хорошо. Очень хорошо</p>
                <!-- /.accordion__body -->
              </div>
              <!-- /.accordion__answer -->
            </div>
            <!-- /.accordion -->
          </div>
          <!-- /.accordion__body -->
        </div>
        <!-- /.block-8__wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.block-8 -->
  </main>
  <footer class="foot">
    <div class="container">
      <div class="foot__wrap">
        <h5 class="foot__end">© 2021, Яндекс.Практикум</h5>
        <!-- /.foot__end -->
      </div>
      <!-- /.foot__wrap -->
    </div>
    <!-- /.container -->
  </footer>
  <!-- /.foot -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlb7J9FCMzqTHSUCF7crqqBF1MT-7jqI&callback=initMap&libraries=&v=weekly"
    async>
  </script>
  <script src="../static/js/main.js"></script>

</body>

</html>