:root {
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;

  --theme-color-base: #564A8A;
  --theme-color-secondary: #BFBFBF;
  --theme-secondary-grey:#D4D4D4;
  --theme-secondary-grey2:#747474;
  --btn-color-base: #FED305;
  --text-color-base: #272727;
  --text-color-secondary: #fff;
  --text-color-three: #211381;
  
}
